@font-face {
  font-family:typewriter;
  src: url(fonts/Type\ Machine.ttf);
}
.events_background{
    display: flex;
}
#accra{
    background-image: url(images/accra.jpg);
    width: 40%;
    height: 715px;
    background-size: cover;
    filter: brightness(40%);
  }
  #nairobi{
    background-image: url(images/Ankole\ Grill-2535nairobi.jpg);
    width: 44%;
    height: 715px;
    background-size: cover;
    filter: brightness(40%);
  }
  #zanzibar{
    background-image: url(images/zanzibarimages.jpeg);
    width: 40%;
    height: 715px;
    background-size: cover;
    filter: brightness(40%);
  }
  #events_logo{
    width: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    transform: translate(-50%, -50%);

  }
  .events{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 53%;
    left: 53%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 12%;
  }
  .events p{
    color: rgb(249, 202, 185);
  }
  .events h1{
    font-family: typewriter;
    font-size: 40px;
  }
  #pavilion{
    color: grey;
    font-family: typewriter;
    font-size: 20px;
  }
  .home_navbar_events{
    background-color: black;
    color: white;
    border-radius: 30px;
     position: absolute;
     display: flex;
     top: 85%;
     left: 48%;
     width: 60%;
     gap: 1%;
     font-size: 19px;
     transform: translate(-50%, -50%); 
  }
  .options{
    display: flex;
    list-style: none;
    gap: 10%;
    margin-top: 3%;
}
a{
    text-decoration: none;
    color: white;
}
  .icons_events{
    color: rgba(128, 128, 128, 0.559);
    font-size: 25px;
    margin-left: 5%;
    margin-top: 3%;
    gap: 3%;
  }