@font-face {
  font-family:typewriter;
  src: url(fonts/Type\ Machine.ttf);
}
@font-face {
  font-family: conso;
  src: url(fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}
body{
overflow: hidden;
}
.menu_background{
    display: flex;
    filter: brightness(40%);
  }
  #kilimani_menu{
    width: 50%;
    height: 800px;
    background-image: url(images/_ankole_kilimani_nightlife.jpg);
    background-size: cover;
    
  }
  .kilimanimenu a:hover {
    color: rgba(237, 116, 35, 0.88);
  }
  #kitisuru_menu{
    width: 50%;
    height: 800px;
    background-image: url(images/locationshts.jpg);
    background-size: cover;
  }
  .kitisurumenu a:hover {
    color: rgba(237, 116, 35, 0.88);
  }
  .menus{
    display: flex;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 35%;
  }
  #karibu{
    color: rgb(220, 92, 7);
    font-family: typewriter;
    font-size: 25px;
  }
  .menus h1{
    font-size: 50px;
  }
  .home_navbar_menu{
    background-color: black;
      color: white;
      border-radius: 30px;
       position: absolute;
       display: flex;
       top: 85%;
       left: 50%;
       width: 47%;
       font-size: 15px;
       font-family: conso;
       transform: translate(-50%, -50%); 
       position: fixed;
    }
    .options{
      display: flex;
      list-style: none;
      gap: 10%;
      margin-top: 3%;
  }
  a{
      text-decoration: none;
      color: white;
  }
  #reservations{
      background-color: rgba(190, 174, 174, 0.921);
      border-radius: 30px;
      width: 30%;
      height: 75%;
      padding: 1%;
  }
  #reservations a:hover {
    background-color: white;
    border-radius: 30px;
    color: black;
    width: 32%;
    height: 76%;
    padding: 4%;
   }
  .icons_menu{
      color: rgba(128, 128, 128, 0.559);
      font-size: 20px;
      margin-left: 5%;
      margin-top: 3%;
  }
  .options a:hover {
    color: rgba(220, 211, 205, 0.418);
  }
  .options a.active {
   background-color: rgba(220, 211, 205, 0.418);
  }
  @media screen and (max-width:350px){
    body {
      margin: 0;
      width: 100%;
      padding: 0;
      position: relative;
      height: 100%;
  }

}
  @media screen and (min-width: 351px) and (max-width: 580px) {
    body {
      margin: 0;
      padding: 0;
      position: relative;
      height: 100%;
      width: 100%;
  }
  }

  @media screen and (min-width: 581px) and (max-width: 740px) {
    body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
  }
  }

  @media screen and (min-width: 741px) and (max-width: 1040px) {
    body {
      margin: 0;
      padding: 0;
      position: relative;
      height: 100%;
      width: 100%;
  }
  }

  @media screen and  (min-width: 1041px) {
    body {
      margin: 0;
      padding: 0;
      position: relative;
      height: 100%;
      width: 100%;
  }
}