@font-face {
  font-family:typewriter;
  src: url(fonts/Type\ Machine.ttf);
}
@font-face {
  font-family: conso;
  src: url(fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}
body {
  font-family: 'Segoe UI', sans-serif;
  background: black;
  margin: 0;
  padding: 0;
}
.reviews-section {
  width: 70%;
  margin: 50px auto;
  text-align: center;
  background: black;
  padding: 40px 20px;
}
.reviews-section h1{
  font-family: typewriter;
  color: white;
}
.carousel {
  position: relative;
  overflow: hidden;
}

.review-slide {
  display: none;
  font-size: 15px;
  color: white;
  padding: 20px;
}

.review-slide.active {
  display: block;
}

.review-slide span {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: white;
}

button#prev,
button#next {
  position: absolute;
  background-color:black;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(85, 82, 82);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  z-index: 1;
}

button#prev {
  left: 1%;
}

button#next {
  right: 1%;
}

button:hover {
  background-color: rgb(255, 255, 255);
}

  #reviews_logo{
    width: 20%;

  }
  .fa-quote-left{
    color: red;
    margin-right: 90%;
    font-size: 30px;
  }
  .fa-quote-right{
    color: red;
    margin-left: 90%;
    font-size: 30px;
  }
   .home_navbar_reviews{
    background-color: black;
      color: white;
      border-radius: 30px;
       position: absolute;
       display: flex;
       top: 90%;
       left: 50%;
       width: 47%;
       font-size: 15px;
       font-family: conso;
       transform: translate(-50%, -50%); 
       position: fixed;
    }
    .options{
      display: flex;
      list-style: none;
      gap: 10%;
      margin-top: 3%;
  }
  a{
      text-decoration: none;
      color: white;
  }
  #reservations{
      background-color: rgba(190, 174, 174, 0.921);
      border-radius: 30px;
      width: 30%;
      height: 75%;
      padding: 1%;
  }
  #reservations a:hover {
    background-color: white;
    border-radius: 30px;
    color: black;
    width: 32%;
    height: 76%;
    padding: 4%;
   }
   .icons{
    display: flex;
    gap: 30%;
    margin-top: 2.8%;
    margin-left: 4%;
  }
   .fa-bars{
    color: rgba(128, 128, 128, 0.559);
    font-size: 20px;
   }
   .fa-clock{
    color: rgba(128, 128, 128, 0.559);
    font-size: 20px;
   }
  .options a:hover {
    color: rgba(220, 211, 205, 0.418);
  }
  .options a.active {
   background-color: rgba(220, 211, 205, 0.418);
  }
  .dropup {
    position: relative;
    display: inline-block;
  }
  .dropuplist{
    list-style: none;
  }
  .dropup .dropuplist {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index:2;
    bottom: 65px;
  }
  
  .dropup:hover .dropuplist {
    visibility: visible;
  }
  .openhours {
    position: relative;
    display: inline-block;
  }
  .openhours .openhourstext {
    visibility: hidden;
    width: 170px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 15px ;
    position: absolute;
    z-index: 2;
    bottom: 70px;
  }
  
  .openhours:hover .openhourstext {
    visibility: visible;
  }
  .openhourstext{
    font-family: typewriter;
    font-size: 15px;
  }
  #branch{
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  @media screen and (max-width:350px){
    body {
      margin: 0;
      width: 100%;
      padding: 0;
      position: relative;
      height: 100%;
  }

}
  @media screen and (min-width: 351px) and (max-width: 580px) {
    body {
      margin: 0;
      padding: 0;
      position: relative;
      height: 100%;
      width: 100%;
  }

  }

  @media screen and (min-width: 581px) and (max-width: 740px) {
    body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }

  .review-slide {
    font-size: 16px;
    padding: 15px;
  }

  button#prev, button#next {
    font-size: 18px;
    padding: 8px 12px;
  }
  h1 {
    font-size: 2rem;
  }
  .container {
    width: 90%;
    max-width: 700px;
    margin: auto;
  }
}

  

  @media screen and (min-width: 741px) and (max-width: 1040px) {
    body {
      margin: 0;
      padding: 0;
      position: relative;
      height: 100%;
      width: 100%;
  }

  }

  @media screen and  (min-width: 1041px) {
    body {
      margin: 0;
      padding: 0;
      position: relative;
      height: 100%;
      width: 100%;
  }
}